[submodule "application/libraries/curl"]
	path = application/libraries/curl
	url = git@github.com:thebizztech/Simple-Codeigniter-Curl-PHP-Class.git
[submodule "application/third_party/pdt"]
	path = application/third_party/pdt
	url = git@github.com:thebizztech/pdt.git
